# String

- **Strings are the sequences of one-character strings.**
- **When typing a strings begins and end them with a single quote so python knows  where text begins and  ends**

In [1]:
"welcome to python world"

'welcome to python world'

- Multiline strings can be denoted using triple quotes, ''' or  """

# Operations on Strings

**String Concatanation** -:joins two different string values.

In [2]:
'mickey'+'ricky'

'mickeyricky'

In [3]:
'aaaa'+'AAAA'

'aaaaAAAA'

In [4]:
'bbbb '+'BBBB' #it also counts space while joining.

'bbbb BBBB'

but what if we do this,

In [5]:
'mickey' + 9

TypeError: can only concatenate str (not "int") to str

- we can also used reverse index which start at the last character of sting using minus operator

- so here we have type cast the integer value to string value.

In [6]:
#Method one
'Mickey' + '9'

'Mickey9'

In [7]:
#Method two
'Mickey'+ str(9)

#str() function is used to convert any dataype into string datatype

'Mickey9'

**String Replication**  -: Multiples the string.

In [8]:
'Mrityunjay'*3

'MrityunjayMrityunjayMrityunjay'

In [9]:
'kumar '*3 #it also counts the white space.

'kumar kumar kumar '

**String Indexing** :-  gets the index of the character or alphabet in the string.

- indexing in python starts with 0, not 1

In [10]:
x= 'This is python programming.'

In [11]:
x[0]

'T'

In [12]:
x[1]

'h'

In [13]:
x[2]

'i'

In [14]:
x[3]

's'

In [15]:
x[-1] #since the last charact is fullstop

'.'

In [16]:
x[-2]

'g'

In [17]:
x[-3]

'n'

In [18]:
x[-4]

'i'

In [19]:
x[-5]

'm'

**String Slicing**:- gets the specific part of string.

In [20]:
x = 'This is python programming.'

In [21]:
x[8:14] #you can use variable to slice or can slice direction.

'python'

In [22]:
'This is python programming.'[8:14]

'python'

**Don’t worry about the slicing or indexing concepts as we are going to cover it deeply in upcoming topics.**

# Methods of String

**FIND  -: use to search for index of the letter**
- string.find(‘x’)

In [23]:
sent= 'thiS is PyThoN ProGmMing.'

In [24]:
sent.find('is')

5

**CAPITALIZE:- Capitalise the first letter of the first word in the string, rest all will be small.**
- #string.capitalize()

In [25]:
sent.capitalize()

'This is python progmming.'

It is done temprorily since if we call back, you will see the change in not saved.

In [26]:
sent

'thiS is PyThoN ProGmMing.'

**TITLE** -: It capitalise the every first letter of all the words in string, rest other will be small
- string.title()

In [27]:
sent

'thiS is PyThoN ProGmMing.'

In [28]:
sent.title()

'This Is Python Progmming.'

**UPPER** :- It converts the string into uppercase

- string.upper()

In [29]:
sent

'thiS is PyThoN ProGmMing.'

In [30]:
sent.upper()

'THIS IS PYTHON PROGMMING.'

**LOWER** :- It converts the string into lowercase

- string.lower()

In [31]:
sent

'thiS is PyThoN ProGmMing.'

In [32]:
sent.lower()

'this is python progmming.'

**SWAPCASE** :- It converts the string into swapcase i.e it change capital letter to small & viz

- string.swapcase()

In [33]:
sent

'thiS is PyThoN ProGmMing.'

In [34]:
sent.swapcase()

'THIs IS pYtHOn pROgMmING.'

**REPLACE** :- It replaces the given word in the strig with another.

- string.replace(word,newword)

In [35]:
sent

'thiS is PyThoN ProGmMing.'

In [36]:
sent.replace('PyThoN', 'jAvA')

'thiS is jAvA ProGmMing.'

but this replace is also not saved permanently.

In [37]:
sent

'thiS is PyThoN ProGmMing.'

**FORMAT** :- It used to make changes in the string explicitly.

- string.format()

In [38]:
age = 22
name = ' Mrityunjay'

In [39]:
#1st way of using format
'My age is {} and my name is{}'.format(age,name)

'My age is 22 and my name is Mrityunjay'

In [40]:
#2nd way of using format
'My age is {one} and my name is{two}'.format(one=age,two=name)

'My age is 22 and my name is Mrityunjay'

In [41]:
'My age is {one} and my name is{two} and more {one}'.format(one=age,two=name)

'My age is 22 and my name is Mrityunjay and more 22'

**SPLIT** :- It use to split the string into words with specified character by defult it is space and it return a list.

- string.split(character)

In [42]:
sent

'thiS is PyThoN ProGmMing.'

In [43]:
sent.split()

['thiS', 'is', 'PyThoN', 'ProGmMing.']

As i said, by default it splits the sentence after every white space.

In [44]:
new = 'this@is@python@programing'

In [45]:
new.split('@')

['this', 'is', 'python', 'programing']

here we split the string by @ character and the output is every other word before and after @ character but not including @

In [46]:
email ='abc123@gmail.com'

In [47]:
email.split('@')

['abc123', 'gmail.com']

**SO this is everything that one should how about string datatype. Rest depends on practice.**

# Great Job!