# Quiz1.
Please use new cell to execute the code as if you used the same cell it can overwrite the output.
The quiz is challenging and it can blow your mind, so go through the notes once before taking the quiz. 
Once you complete this, you can refer the solution of this quiz.

### Variable Assignment

In [1]:
# Can not start with number or special characters
# Create a variable and assign a value of any datatpye
x = 2

In [4]:
x = 2
y = 3

In [5]:
# add both variable and assign to z 
z = x+y

In [6]:
z

5

In [7]:
# Variable swaping.
# assign the value of x to y and viz without creating new variable.
x,y=y,x

In [8]:
x

3

In [9]:
y

2

### Printing

In [11]:
x = 'hello'

In [12]:
x

'hello'

In [13]:
print(x)

hello

In [14]:
num = 12
name = 'Sam'

In [17]:
#use format method 
print('My number is: {one},and my name is: {two}'.format(one=num,two=name))

My number is: 12,and my name is: Sam

### Lists

In [18]:
my_list = ['a','b','c']

In [19]:
#add new element 'd' at the end of list
my_list.append('d')

In [20]:
my_list

['a', 'b', 'c', 'd']

In [21]:
#use index to get the 1st element of list
my_list[0]

'a'

In [22]:
#use index to get the 2nd element of list
my_list[1]

'b'

In [23]:
#use sling to get the below output
my_list[1:]

['b', 'c', 'd']

In [24]:
#use sling to get the below output
my_list[:1]

['a']

In [25]:
#replace new element 'NEW' at the place of 'a'
my_list[0]='NEW'

In [26]:
my_list

['NEW', 'b', 'c', 'd']

In [28]:
nest = [1,2,3,[4,5,['target']]]

In [29]:
#use indexing to get the output 
nest[3]

[4, 5, ['target']]

In [30]:
#use indexing to get the output 
nest[3][2]

['target']

In [31]:
#use indexing to get the output 
nest[3][2][0]

'target'

### Dictionaries

In [32]:
d = {'key1':'item1','key2':'item2'}

In [33]:
#write the code to get the output
d

{'key1': 'item1', 'key2': 'item2'}

In [34]:
#write the code to get the value of key
d['key1']

'item1'

### Tuples

In [35]:
t = (1,2,3)

In [36]:
#use indexing to get the output
t[0]

1

## Comparison Operators

In [37]:
#compare on the basis of output value  eg. 1 greater then 2 will be false
1 >2

False

In [38]:
1 < 2

True

In [39]:
1 == 1

True

In [40]:
1 < 4

True

In [41]:
1 > 0

True

In [42]:
'hi' == 'bye'

False

## Logic Operators

In [43]:
#use proper logical operator to get the output
(1 > 2) and  (2 < 3)

False

In [44]:
(1 > 2) or  (2 < 3)

True

In [45]:
(1 == 2) or  (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [46]:
#use proper comparison operator to get the out put eg. 1<2 which is true and it will print first
if 1 < 2:
    print('first')
else:
    print('last')

first

In [47]:
#use proper comparison operator to get the out put
if 1 > 2:
    print('first')
else:
    print('last')

last

In [49]:
#use proper comparison operator to get the out put
if 1 > 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [52]:
seq = [1,2,3,4,5]

In [53]:
#write a for loop to print the elements in list seq
for i in seq:
    print(i)

1
2
3
4
5

In [55]:
#write a for to print yep for each element present in list seq
for i in seq:
    print('yep')

yep
yep
yep
yep
yep

In [56]:
#Write a for loop to print muliplication by 2 of each number in list seq
for i in seq:
    print(i*2)

2
4
6
8
10

## while Loops

In [57]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i+=1

i is: 1
i is: 2
i is: 3
i is: 4

## list comprehension

In [59]:
x = [1,2,3,4]

In [60]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [61]:
#write the list comprehension for above code.
out =[ item**2 for item in x ]
out

[1, 4, 9, 16]

## methods

In [63]:
st = 'Hello My Name Is Sam'

In [64]:
#use string method to get the following output
st.lower()

'hello my name is sam'

In [65]:
#use string method to get the following output
st.upper()

'HELLO MY NAME IS SAM'

In [66]:
#use string method to get the following output
st.swapcase()

'hELLO mY nAME iS sAM'

In [67]:
#use string method to get the following output
st.split()

['Hello', 'My', 'Name', 'Is', 'Sam']

In [69]:
tweet = 'Go Sports! #Sports'

In [70]:
#use string method to get the following output
tweet.split('#')

['Go Sports! ', 'Sports']

In [71]:
#use string method to get the following output
tweet.split('#')[1]

'Sports'

In [72]:
#this dictionary is created above just print the d
d

{'key1': 'item1', 'key2': 'item2'}

In [74]:
d.keys()

dict_keys(['key1', 'key2'])

In [75]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [76]:
lst = [1,2,3]

In [77]:
#complete the pop method
lst.pop(2)

3

In [78]:
#execute the cell
lst

[1, 2]

In [79]:
#check whether x is in lst
x in lst

False

In [81]:
#check whether x is in this new list
'x' in ['x','y','z']

True

# Great Job!