# Notes

# **1.Basic functions in python:**

### **print():-** 
    print funtion displays the value passed inside the parentheses and can be of any datatype

In [1]:
#Example of Print funtion.
print(1,2,3)

1 2 3

In [2]:
print(1.1,1.2,1.3)

1.1 1.2 1.3

In [3]:
print('this is an exmaple of print function.')

this is an exmaple of print function.

In [4]:
print('example 4 of print function')

example 4 of print function

In [5]:
print('this is example',5, 'of print funtion')

this is example 5 of print funtion

In [6]:
x = 'we can also print the variable'
print(x)

we can also print the variable

### **input():-**
    input () function allow the user to type some text on a keyboard (i.e int , or charv) and remember that the input function always returns the string values.
    It use to take the data from the user like user input value.
    Input() function can also be stored in variable.

In [8]:
#Example of input function
input('Enter you name:- ')

Enter you name:- Mrityunjay Kumar Pandey

'Mrityunjay Kumar Pandey'

In [9]:
name = input("Enter you name:- ")

Enter you name:- Mrityunjay Kumar Pandey

#### Now we can use this name variable whereever we need.

In [10]:
print('this is '+name)

this is Mrityunjay Kumar Pandey

# 2.TypeCasting.

keep this thing in mind value of different datatype is not equall.

In [11]:
# interger 42 will not be equals to string '42'

42 == '42'

False

In [12]:
#but integer 42 will be equals to float 42.0

42 ==42.0

True

#### and if there is a situation where the given number is in string and we want to campare it then typecasting comes into action.

we can typecast string into integer

In [13]:
x = '3'  #the string 3
y = 3   # the integer 3

y ==int(x)

True

and also we can perform maths on it by typecasting string numbers

In [14]:
int(x) * y

9

In [15]:
x = 3
y = 4.3

In [16]:
x+y

7.3

what if we dont want float as out output

In [17]:
int(x+y)  #converting float into integer value

7

In [18]:
x= 3
y= 7
x+y

10

but what if we want the output in decimals

In [19]:
float(x+y)

10.0

#### Theres a operation called string concatenation, which is basically joind to strings together.

In [20]:
#for example

'Mrityunjay ' + 'kumar'

'Mrityunjay kumar'

but it doesn't work with integer or floats

In [21]:
'Mrityinjay' + 22

TypeError: can only concatenate str (not "int") to str

it could have worked if number 22 was string.

In [22]:
'Mrityunjay' + '22'

'Mrityunjay22'

#### but what is there is a situation an we want to join both string and integer together. Well we can typecaste it.

In [23]:
x = 'Mrityunjay'
y = 22

x+ str(22)

'Mrityunjay22'

# 3.Escape Characters

**#** is used for making comments

In [24]:
#this is comment and this will not executed

**\n** this is used to go on a new line

In [25]:
print('this is \n new line')

this is
 new line

**\t** is used to give tab or extra spaces between words

In [26]:
print('this is \t tab example')

this is 	 tab example

**\\' ,\\"** is used to escape single or double quotes

see what happend when we print this

In [27]:
print('doesn't it sounds good')

SyntaxError: invalid syntax (<ipython-input-27-be8f3b154a16>, line 1)

to overcome this type of situation we escape the single quotes

In [28]:
print('doesn\'t it sounds good')

doesn't it sounds good

### SO these are the basic concepts that you need to know about python programming.

# Great Job