# For Loop

Instead of looping as long as certain conditions is true like the while loop does, a for loop iterate a specific number of time

**Syntax:**
- for  item in range(x):	
   - Statement1
 
#for loop mainly deals with list or list like objects.

In [1]:
#Program of For Loop.

print("My name is ")
for i in range(5):
    print("micky five times" + str(i) )

My name is
micky five times0
micky five times1
micky five times2
micky five times3
micky five times4

In [3]:
#Program for summing up 1st 100 natural numbers.

#CARLS FRIEDRICH GAUSSS

total = 0
for num in range(101):
    total = total + num
print(total)

5050

The range () function called with one, two, or three arguments break and continue function can be used in for loops the for loop execute the block of codes at the certain number of times.

In [4]:
for i in range(4): 	#range(0,1,2,3)
    print(i)

0
1
2
3

In [6]:
list(range(4)) # 4 means four elements start from 0

#it also means start from 0 to 4 but not including 4

[0, 1, 2, 3]

In [7]:
range(4)

range(0, 4)

- Technically for loop repeats code block ones for each value in a list or list like tuple value.
- Range object is a list like value.

In [8]:
[0,1,2,3,4]

[0, 1, 2, 3, 4]

In fact you could write a for loop like this,

In [9]:
for i in [0,1,2,3]:
    print(i)

0
1
2
3

- So what the python is doing , it gets that list value and assign the first item to the variable i and runs the code  and after that second item is assign to the variable i and run the code so on.....
- The variable ‘i’ use to return list,to refer the datatype technically mean the sequences in python
- Now if you want to get actual list value from a range object value then, you can pass that to the list function and that will return tha actual list value.

In [10]:
#For example. 
list(range(4))

[0, 1, 2, 3]

It can also be really handy, if you need to get a collection of integers in a list.

### Program for listing all the even numbers 0 to 100.

In [11]:
even = list(range(0,100,2))

In [12]:
even

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

A one common python technique is, to use range and then pass it the return value of len and then pass some list value and use it in a for loop.

In [13]:
suppliers = ['pens','pencil','rubber','sharpner','scale']

In [15]:
for i in range(len(suppliers)):
    print('Index '+str(i)+' in supplies is:' + suppliers[i])

Index 0 in supplies is:pens
Index 1 in supplies is:pencil
Index 2 in supplies is:rubber
Index 3 in supplies is:sharpner
Index 4 in supplies is:scale

- So we need to run loop code over a list where you need both the value inside of it and also the integer index you just use the ,range(len(suppliers)). and the list can be the any size and the same code will work.
- For loop tecnically iterate over the values in a list.
- The range() function returns a list like values which can be passed to the list() function if you need an actually list value.

# Great Job