# Quiz1.
Please use new cell to execute the code as if you used the same cell it can overwrite the output.
The quiz is challenging and it can blow your mind, so go through the notes once before taking the quiz. 
Once you complete this, you can refer the solution of this quiz.

### Variable Assignment

In [13]:
# Can not start with number or special characters
# Create a variable and assign a value of any datatpye

In [1]:
x = 2
y = 3

In [15]:
# add both variable and assign to z

5

In [2]:
# Variable swaping.
# assign the value of x to y and viz without creating new variable.

In [3]:
x

3

In [4]:
y

2

### Printing

In [20]:
x = 'hello'

'hello'

hello

In [23]:
num = 12
name = 'Sam'

In [24]:
#use format method

My number is: 12, and my name is: Sam

### Lists

In [28]:
my_list = ['a','b','c']

In [29]:
#add new element 'd' at the end of list

In [30]:
my_list

['a', 'b', 'c', 'd']

In [31]:
#use index to get the 1st element of list

'a'

In [32]:
#use index to get the 2nd element of list

'b'

In [33]:
#use sling to get the below output

['b', 'c', 'd']

In [34]:
#use sling to get the below output

['a']

In [35]:
#replace new element 'NEW' at the place of 'a'

In [98]:
my_list

['NEW', 'b', 'c', 'd']

In [99]:
nest = [1,2,3,[4,5,['target']]]

In [100]:
#use indexing to get the output

[4, 5, ['target']]

In [101]:
#use indexing to get the output

['target']

In [102]:
#use indexing to get the output

'target'

### Dictionaries

In [37]:
d = {'key1':'item1','key2':'item2'}

In [38]:
#write the code to get the output

{'key1': 'item1', 'key2': 'item2'}

In [39]:
#write the code to get the value of key

'item1'

### Tuples

In [42]:
t = (1,2,3)

In [43]:
#use indexing to get the output

1

## Comparison Operators

In [47]:
#compare on the basis of output value  eg. 1 greater then 2 will be false
1  2

False

In [48]:
1  2

True

In [49]:
1  1

True

In [50]:
1  4

True

In [51]:
1  1

True

In [52]:
'hi'  'bye'

False

## Logic Operators

In [53]:
#use proper logical operator to get the output
(1 > 2)   (2 < 3)

False

In [54]:
(1 > 2)   (2 < 3)

True

In [55]:
(1 == 2)   (2 == 3)   (4 == 4)

True

## if,elif, else Statements

In [58]:
#use proper comparison operator to get the out put eg. 1<2 which is true and it will print first
if 1  2:
    print('first')
else:
    print('last')

first

In [59]:
#use proper comparison operator to get the out put
if 1  2:
    print('first')
else:
    print('last')

last

In [60]:
#use proper comparison operator to get the out put
if 1  2:
    print('first')
elif 3  3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [61]:
seq = [1,2,3,4,5]

In [62]:
#write a for loop to print the elements in list seq

1
2
3
4
5

In [63]:
#write a for to print yep for each element present in list seq

Yep
Yep
Yep
Yep
Yep

In [64]:
#Write a for loop to print muliplication by 2 of each number in list seq

2
4
6
8
10

## while Loops

In [65]:
i = 1
while i < 5:
    #complete the while to get the result

i is: 1
i is: 2
i is: 3
i is: 4

## list comprehension

In [69]:
x = [1,2,3,4]

In [70]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [71]:
#write the list comprehension for above code.
out =[ write you code here ]
out

[1, 4, 9, 16]

## methods

In [5]:
st = 'Hello My Name Is Sam'

In [112]:
#use string method to get the following output

'hello my name is sam'

In [113]:
#use string method to get the following output

'HELLO MY NAME IS SAM'

In [6]:
#use string method to get the following output

'hELLO mY nAME iS sAM'

In [103]:
#use string method to get the following output

['hello', 'my', 'name', 'is', 'Sam']

In [104]:
tweet = 'Go Sports! #Sports'

In [106]:
#use string method to get the following output

['Go Sports! ', 'Sports']

In [107]:
#use string method to get the following output

'Sports'

In [92]:
#this dictionary is created above just print the d
d

{'key1': 'item1', 'key2': 'item2'}

dict_keys(['key2', 'key1'])

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [95]:
lst = [1,2,3]

In [96]:
#complete the pop method
lst.pop()

3

In [108]:
#execute the cell
lst

[1, 2]

In [109]:
#check whether x is in lst

False

In [110]:
#check whether x is in this new list
['x','y','z']

True

# Great Job!